.my-link {
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-link:hover {
    color: darkorange;
    text-decoration: underline;
}

.header-img {
    height: 80px;
    border-radius: 10px;
}

#login-btn {
    font-size: 19px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: rgb(34, 19, 134);
    padding: 5px 15px;
    color: white;
    width: 80px;
    border-radius: 12px;
}

#login-btn:hover {
    background-color: darkorange;
}

.logout-btn {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: darkorange;
    padding: 5px 8px;
    color: black;
    width: 80px;
    border-radius: 12px;
}

.logout-btn:hover {
    background-color: rgb(34, 19, 134);
    color: white
}