.m-footer {
    background-image: url("footer.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
}

.heading {
    background-color: rgb(229, 250, 2);
    color: rgb(11, 10, 10);
}

.f-text {
    color: white;
}

.f-text:hover {
    color: rgb(229, 250, 2);
}