.my-card {
    border: 2px solid rgb(13, 0, 130);
    background-color: #1f1248;
    ;
    height: 600px;
    border-radius: 20px;
}

.b-img {
    min-height: 250px;
}

.b-img img {
    width: 250px;
}

.m-btn {
    background-color: rgb(251, 91, 33);
    font-size: 19px;
    color: white;
    margin-bottom: 20px;
}

.m-btn:hover {
    width: 200px;
}